<%= form_for @user do |f| %>

<div>
		<%= f.label :Usuario %>
		<%= f.text_field :nickname %>
</div>
<div>
		<%= f.label :Nombre %>
		<%= f.text_area :name %>
</div>
<div>
		<%= f.label :Apellido %>
		<%= f.text_field :apellido %>
</div>
<div>
		<%= f.label :Email %>
		<%= f.text_field :email %>
</div>
<div>
		<%= f.label :Foto %>
		<%= f.file_field :foto %>
</div>
<div>
		<%= f.submit :Editar %>
</div>
<% end %>